<p-card class="mini-card-container">
  <ng-template #header>
    <img alt="Card" class="w-full" src="https://is1-ssl.mzstatic.com/image/thumb/Video113/v4/00/f9/57/00f95716-b496-9c75-364e-00a2a3654690/0045778240661_USEP61933001.jpg/720x405mv.jpg" />
  </ng-template>
  <ng-template #title> DRUGS </ng-template>
  <ng-template #subtitle> Falling In Reverse </ng-template>
  <p-fieldset legend="Текст песни">
    <p-scrollpanel [style]="{ width: '100%', height: '150px' }">
      <p>
        'Cause everybody's on drugs <br>
        Kill yourself is what they said to me <br>
        I'm already dead, just differently<br>
        They say God is real, I disagree<br>
        'Cause if that were true<br>
        Then we'd all be free, all be free, yeah, yeah<br>
        Running from something that's killing me<br>
        Dealing with such an uncomfortable feeling<br>
        Beginning to feel the hostility from my ability of slowly becoming the villain<br>
        I just wanna thank all my fans especially, without you is the death of me<br>
        I don't consider myself a celebrity, but I'll be doing this shit 'til I'm 70<br>
        This is my destiny, this is the best of me, it's an incredible feeling to grow<br>
        Letting it go, I'm letting you know, we're killing ourselves on the low<br>
        Everybody wants some, everybody gets none from me<br>
        'Cause everybody's on drugs<br>
        It's hard to believe, the American dream is a killing machine<br>
        We're all falling in love with a new disease<br>
        If it's killing you, then it's murdering me<br>
        It's all getting so unbelievable<br>
        We're having so much fun, staring down a loaded gun<br>
        And you don't see that it's killing you<br>
        'Cause everybody's on drugs<br>
        Save yourself is what I'm telling you<br>
        'Cause nobody else really has a clue<br>
        Into your veins, vein, like heroin<br>
        Accept the pain, pain just to feel again, feel again<br>
        Everybody wants some, everybody gets none from me<br>
        'Cause everybody's on drugs<br>
        It's hard to believe, the American dream is a killing machine<br>
        We're all falling in love with a new disease<br>
        If it's killing you, then it's murdering me<br>
        It's all getting so unbelievable<br>
        We're having so much fun, staring down a loaded gun<br>
        And you don't see that it's killing you<br>
        Everybody is dead from the neck up<br>
        Trying to keep their heads up, searching for a way out<br>
        This is a dying nation, so complacent<br>
        Spirits need awakened, what are we waiting for? Fuck<br>
        Die!<br>
        Just die motherfucker, die motherfucker, die<br>
        'Cause everybody's on drugs<br>
        The American dream is a killing machine<br>
        Everybody's on drugs<br>
        If it's killing you<br>
        It's so fucking unbelievable<br>
        We're having so much fun, staring down a loaded gun<br>
        And you don't see that it's killing you<br>
        'Cause everybody's, everybody's, everybody's on drugs<br>
        'Cause everybody's on drugs<br>
        The American dream is a killing machine<br>
        'Cause everybody's on drugs<br>
        The American dream is a killing machine<br>
        'Cause everybody's on drugs</p>
    </p-scrollpanel>
  </p-fieldset>
  <ng-template #footer>
  </ng-template>
</p-card>
