<p-toolbar class="container">
  <audio #audioPlayer [src]="'audio/YOR - Без цензуры.mp3'"></audio>
  <div class="container__info">
    <!--    icon = "pi pi-user" -->
    <p-avatar
      class="container__info__avatar"
      size="xlarge"
      shape="circle"
      image="https://is1-ssl.mzstatic.com/image/thumb/Video113/v4/00/f9/57/00f95716-b496-9c75-364e-00a2a3654690/0045778240661_USEP61933001.jpg/720x405mv.jpg"
    />
    <div class="container__info__text-container">
      <span class="container__info__text-container__name">DRUGS</span>
      <span class="container__info__text-container__author"
        >Falling In Reverse</span
      >
    </div>
  </div>
  <div class="container__controls-track">
    <p-button
      icon="pi pi-step-backward-alt"
      [rounded]="true"
      [text]="true"
      severity="warn"
    />
    <p-button
      icon="{{ isPlay() ? 'pi pi-pause' : 'pi pi-play' }}"
      [rounded]="true"
      severity="warn"
      [outlined]="true"
      (onClick)="clickOnPlayPause()"
    />
    <p-button
      icon="pi pi-step-forward-alt"
      [rounded]="true"
      [text]="true"
      severity="warn"
    />
  </div>
  <form class="container__timeline-container">
    <p-slider
      [formControl]="musicProgressBar"
      [min]="0"
      [max]="100"
      class="container__timeline-container__timeline"
      (onChange)="isDrag()"
      (onSlideEnd)="seekAudio($event.value || 0)"
    />
    <!--    <p-progressbar class="container__timeline-container__timeline" [value]="50">-->
    <!--      <ng-template #content let-value>-->
    <!--        <span>{{ "" }}</span>-->
    <!--      </ng-template>-->
    <!--    </p-progressbar>-->
    <div class="container__timeline-container__time">
      <span>{{ startTime | time }}</span>
      <span>{{ endTime | time }}</span>
    </div>
  </form>
  <div class="container__controls-player">
    <p-button
      icon="pi pi-heart"
      [rounded]="true"
      [text]="true"
      severity="warn"
    />
    <p-button
      icon="pi pi-replay"
      [rounded]="true"
      [text]="true"
      severity="warn"
      (onClick)="onReset()"
    />
    <!--    pi-volume-down / pi-volume-off-->
    <p-button
      (click)="volumePopover.toggle($event)"
      icon="pi pi-volume-up"
      [rounded]="true"
      [text]="true"
      severity="warn"
    />
  </div>
</p-toolbar>
<p-popover #volumePopover>
  <ng-template #content>
    <form>
      <p-slider
        [formControl]="volumeForm"
        orientation="vertical"
        class="slider-volume"
      />
    </form>
  </ng-template>
</p-popover>
